* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content-user {
    background: rgb(135,23,6);
    background: linear-gradient(90deg, rgba(135,23,6,0.5) 7%, rgba(8,88,135,0.5) 71%, rgba(8,88,135,0.8211659663865546) 83%);
    padding: 5% 15%;  
    border-radius: 10px;
    box-shadow: 5px 2px 5px 1px;  
}

section {
    background-image: url(./resources/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logar, .cadastrar {
    margin-top: 5px!important;
    width: 7rem;
    border-radius: 5px;
}

.espaco-top {
    padding-top: 10px;
}

#user, #password {
    padding: 5px;
    border-radius: 5.5px;
}

.cadastrar {
    display: flex;
    justify-content: center;
    margin: 0 auto 0 auto;
}

.cadastrar:hover, .logar:hover {
    scale: 1.1;
}