* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 20% auto auto auto;
}

.logar, .cadastrar {
    margin-top: 5px!important;
}

.name, .senha {
    padding-top: 10px;
    text-align: end;
}

#user, #password {
    padding: 5px;
    border-radius: 5.5px;
}

.cadastrar {
    display: flex;
    justify-content: center;
    margin: 0 auto 0 auto;
}